Data Source: https://www.kaggle.com/c/dsn-prebootcamp-2021/data

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:,.2f}'.format)

## Load Data

In [2]:
df = pd.read_csv("/Users/tolumide/Downloads/csv file/dsn-prebootcamp-2021/train.csv")
df.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective To Date,Status_of_Employment,Premium_Auto_per_Month,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel,Best_Offer
0,Customer_434,Female,97134,Suburban,Single,Kano,"5,017.01",Interested,Silver,First_Degree,3/2/2011,Fully_Employed,260,624.00,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent,1
1,Customer_4641,Female,53754,Suburban,Married,Abuja,"5,151.30",Not_interested,Silver,First_Degree,1/22/11,Fully_Employed,262,628.80,SUV,Small,5,2,0,1,Personal,P_L2,Agent,3
2,Customer_4952,Female,25804,Suburban,Divorced,Lagos,"4,906.89",Interested,Silver,HND,2/14/11,In_Retirement,278,667.20,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent,0
3,Customer_1489,Female,0,Suburban,Single,Imo,"8,512.53",Not_interested,Silver,HND,8/1/2011,Not_employed,242,871.20,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch,1
4,Customer_812,Male,140494,Rural,Single,Imo,"3,280.53",Not_interested,Silver,PHD,2/19/11,Fully_Employed,166,141.80,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center,3

In [3]:
df.shape

(6393, 24)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    6393 non-null   object
 1   Sex                            6393 non-null   object
 2   Earnings                       6393 non-null   int64
 3   Region_Code                    6393 non-null   object
 4   Marital Status                 6393 non-null   object
 5   State_of_Origin                6393 non-null   object
 6   Customer_Worth                 6393 non-null   float64
 7   Customer_Reply                 6393 non-null   object
 8   Plan                           6393 non-null   object
 9   Certification                  6393 non-null   object
 10  Effective To Date              6393 non-null   object
 11  Status_of_Employment           6393 non-null   object
 12  Premium_Auto_per_Month         6393 non-null   int64
 13  Total Claim Amount             6393 non-null   float64
 14  Vehicle Class                  6393 non-null   object
 15  Vehicle Size                   6393 non-null   object
 16  Months Since Last Claim        6393 non-null   int64
 17  Months Since Policy Inception  6393 non-null   int64
 18  Counts_of_Open_Complaints      6393 non-null   int64
 19  No_Of_POlicy                   6393 non-null   int64
 20  kind_of_policy                 6393 non-null   object
 21  Active_Policy                  6393 non-null   object
 22  Sales Channel                  6393 non-null   object
 23  Best_Offer                     6393 non-null   int64
dtypes: float64(2), int64(7), object(15)
memory usage: 1.2+ MB

In [5]:
df.describe()

,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Best_Offer
count,"6,393.00","6,393.00","6,393.00","6,393.00","6,393.00","6,393.00","6,393.00","6,393.00","6,393.00"
mean,"75,460.10","7,977.95",186.73,435.02,15.10,47.99,0.77,2.99,0.97
std,"60,449.02","6,718.38",69.10,292.52,10.11,27.85,1.85,2.40,1.01
min,0.00,"1,900.01",122.00,0.10,0.00,0.00,0.00,1.00,0.00
25%,"20,674.00","4,070.09",136.00,273.25,6.00,24.00,0.00,1.00,0.00
50%,"67,934.00","5,814.00",166.00,381.12,14.00,48.00,0.00,2.00,1.00
75%,"124,652.00","8,988.61",218.00,547.20,23.00,71.00,0.00,4.00,2.00
max,"199,962.00","83,327.38",594.00,"2,893.24",35.00,99.00,10.00,9.00,3.00

In [6]:
print('Original features:\n',(df.columns).to_list() )

Original features:
 ['Customer_ID', 'Sex', 'Earnings', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Worth', 'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 'Status_of_Employment', 'Premium_Auto_per_Month', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size', 'Months Since Last Claim', 'Months Since Policy Inception', 'Counts_of_Open_Complaints', 'No_Of_POlicy', 'kind_of_policy', 'Active_Policy', 'Sales Channel', 'Best_Offer']

In [7]:
df_dummies1=pd.get_dummies(df, prefix=['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin','Customer_Reply',
'Plan', 'Certification', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy','Sales Channel' ],
columns=['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin','Customer_Reply', 'Plan',
'Certification', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy', 'Sales Channel'])

df_dummies1.head()

,Customer_ID,Earnings,Customer_Worth,Effective To Date,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Active_Policy,Best_Offer,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,State_of_Origin_Imo,State_of_Origin_Kano,State_of_Origin_Lagos,Customer_Reply_Interested,Customer_Reply_Not_interested,Plan_Bronze,Plan_Gold,Plan_Silver,Certification_First_Degree,Certification_HND,Certification_O_Level,Certification_PHD,Certification_Second_Degree,Status_of_Employment_Disabled,Status_of_Employment_Fully_Employed,Status_of_Employment_In_Retirement,Status_of_Employment_Not_employed,Status_of_Employment_On_Leave,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small,kind_of_policy_Corporate,kind_of_policy_Personal,kind_of_policy_Special,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,Customer_434,97134,"5,017.01",3/2/2011,260,624.00,12,15,0,1,C_L2,1,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
1,Customer_4641,53754,"5,151.30",1/22/11,262,628.80,5,2,0,1,P_L2,3,1,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0
2,Customer_4952,25804,"4,906.89",2/14/11,278,667.20,3,51,0,1,P_L3,0,1,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0
3,Customer_1489,0,"8,512.53",8/1/2011,242,871.20,5,94,0,8,P_L2,1,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
4,Customer_812,140494,"3,280.53",2/19/11,166,141.80,13,19,2,1,P_L2,3,0,1,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0

In [8]:
del df_dummies1['Active_Policy']

In [9]:
df_dummies = df_dummies1.drop(['Customer_ID'], axis=1 )

In [10]:
df_dummies = df_dummies.drop(['Effective To Date'], axis=1 )

In [11]:
df_dummies.head()

,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Best_Offer,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,State_of_Origin_Imo,State_of_Origin_Kano,State_of_Origin_Lagos,Customer_Reply_Interested,Customer_Reply_Not_interested,Plan_Bronze,Plan_Gold,Plan_Silver,Certification_First_Degree,Certification_HND,Certification_O_Level,Certification_PHD,Certification_Second_Degree,Status_of_Employment_Disabled,Status_of_Employment_Fully_Employed,Status_of_Employment_In_Retirement,Status_of_Employment_Not_employed,Status_of_Employment_On_Leave,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small,kind_of_policy_Corporate,kind_of_policy_Personal,kind_of_policy_Special,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,97134,"5,017.01",260,624.00,12,15,0,1,1,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0
1,53754,"5,151.30",262,628.80,5,2,0,1,3,1,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0
2,25804,"4,906.89",278,667.20,3,51,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0
3,0,"8,512.53",242,871.20,5,94,0,8,1,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0
4,140494,"3,280.53",166,141.80,13,19,2,1,3,0,1,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0

In [12]:
df_dummies.shape

(6393, 53)

In [13]:
df_dummies.isna().values.any()

False

In [14]:
df_dummies.columns

Index(['Earnings', 'Customer_Worth', 'Premium_Auto_per_Month',
       'Total Claim Amount', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Counts_of_Open_Complaints',
       'No_Of_POlicy', 'Best_Offer', 'Sex_Female', 'Sex_Male',
       'Region_Code_Rural', 'Region_Code_Suburban', 'Region_Code_Urban',
       'Marital Status_Divorced', 'Marital Status_Married',
       'Marital Status_Single', 'State_of_Origin_Abuja',
       'State_of_Origin_Enugu', 'State_of_Origin_Imo', 'State_of_Origin_Kano',
       'State_of_Origin_Lagos', 'Customer_Reply_Interested',
       'Customer_Reply_Not_interested', 'Plan_Bronze', 'Plan_Gold',
       'Plan_Silver', 'Certification_First_Degree', 'Certification_HND',
       'Certification_O_Level', 'Certification_PHD',
       'Certification_Second_Degree', 'Status_of_Employment_Disabled',
       'Status_of_Employment_Fully_Employed',
       'Status_of_Employment_In_Retirement',
       'Status_of_Employment_Not_employed', 'Status_of_Employment_On_Leave',
       'Vehicle Class_Four-Door Car', 'Vehicle Class_Luxury Car',
       'Vehicle Class_Luxury SUV', 'Vehicle Class_SUV',
       'Vehicle Class_Sports Car', 'Vehicle Class_Two-Door Car',
       'Vehicle Size_Large', 'Vehicle Size_Medsize', 'Vehicle Size_Small',
       'kind_of_policy_Corporate', 'kind_of_policy_Personal',
       'kind_of_policy_Special', 'Sales Channel_Agent', 'Sales Channel_Branch',
       'Sales Channel_Call Center', 'Sales Channel_Web'],
      dtype='object')

## Splitting Data

In [15]:
from sklearn.model_selection import train_test_split
feature_col_names=['Earnings', 'Customer_Worth', 'Premium_Auto_per_Month','Total Claim Amount', 'Months Since Last Claim',
'Months Since Policy Inception', 'Counts_of_Open_Complaints','No_Of_POlicy', 'Sex_Female', 'Sex_Male',
'Region_Code_Rural', 'Region_Code_Suburban', 'Region_Code_Urban','Marital Status_Divorced', 'Marital Status_Married',
'Marital Status_Single', 'State_of_Origin_Abuja','State_of_Origin_Enugu', 'State_of_Origin_Imo', 'State_of_Origin_Kano',
'State_of_Origin_Lagos', 'Customer_Reply_Interested','Customer_Reply_Not_interested', 'Plan_Bronze', 'Plan_Gold',
'Plan_Silver', 'Certification_First_Degree', 'Certification_HND','Certification_O_Level', 'Certification_PHD',
'Certification_Second_Degree', 'Status_of_Employment_Disabled','Status_of_Employment_Fully_Employed','Status_of_Employment_In_Retirement',
'Status_of_Employment_Not_employed', 'Status_of_Employment_On_Leave','Vehicle Class_Four-Door Car', 'Vehicle Class_Luxury Car',
'Vehicle Class_Luxury SUV', 'Vehicle Class_SUV','Vehicle Class_Sports Car', 'Vehicle Class_Two-Door Car',
'Vehicle Size_Large', 'Vehicle Size_Medsize', 'Vehicle Size_Small','kind_of_policy_Corporate', 'kind_of_policy_Personal',
'kind_of_policy_Special', 'Sales Channel_Agent', 'Sales Channel_Branch','Sales Channel_Call Center', 'Sales Channel_Web']
predicted_class_names=['Best_Offer']
X=df_dummies[feature_col_names].values
y=df_dummies[predicted_class_names].values 
split_test_size=0.30
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=split_test_size, random_state=42)

In [16]:
print("{0:0.2f}% in training set".format((len(X_train)/len(df_dummies.index)) * 100))
print("{0:0.2f}% in test set".format((len(X_test)/len(df_dummies.index)) * 100))

70.00% in training set
30.00% in test set

## Train Data

In [17]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()
gbr.fit(X_train, y_train.ravel())

GradientBoostingRegressor()

In [18]:
gbrpred=gbr.predict(X_train)
gbrpred_test=gbr.predict(X_test)

In [19]:
MSE = mean_squared_error(y_train, gbrpred)
MSE_test= mean_squared_error(y_test, gbrpred_test)
print("MSE:", MSE)
print("MSE Test:", MSE_test)
RMSE=sqrt(MSE)
RMSE_test=sqrt(MSE_test)
print("RMSE:", RMSE)
print("RMSE Test:", RMSE_test)

MSE: 0.791114721318625
MSE Test: 0.8643926350687755
RMSE: 0.8894463004131419
RMSE Test: 0.9297271831396431

## Import Libraries

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:,.2f}'.format)

In [21]:
df = pd.read_csv("/Users/tolumide/Downloads/csv file/dsn-prebootcamp-2021/test.csv")
df.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective To Date,Status_of_Employment,Premium_Auto_per_Month,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,Customer_708,Male,149170,Rural,Married,Lagos,"4,224.63",Not_interested,Bronze,O_Level,1/17/11,Fully_Employed,212,218.60,SUV,Medsize,1,49,0,1,Personal,P_L3,Agent
1,Customer_47,Female,46436,Suburban,Single,Abuja,"5,516.34",Not_interested,Bronze,O_Level,2/1/2011,Fully_Employed,142,447.79,Two-Door Car,Medsize,7,10,0,4,Personal,P_L2,Agent
2,Customer_3995,Female,189806,Suburban,Married,Abuja,"3,810.12",Interested,Silver,HND,1/28/11,Fully_Employed,188,451.20,Two-Door Car,Small,3,38,0,1,Personal,P_L3,Agent
3,Customer_1513,Female,154306,Urban,Married,Lagos,"7,916.82",Not_interested,Silver,HND,9/2/2011,Fully_Employed,198,355.64,Four-Door Car,Medsize,3,27,2,5,Personal,P_L3,Branch
4,Customer_3686,Female,47538,Suburban,Divorced,Kano,"7,933.72",Not_interested,Bronze,O_Level,2/20/11,Disabled,138,470.10,Four-Door Car,Medsize,18,14,0,2,Personal,P_L2,Branch

In [22]:
df.shape

(2741, 23)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    2741 non-null   object
 1   Sex                            2741 non-null   object
 2   Earnings                       2741 non-null   int64
 3   Region_Code                    2741 non-null   object
 4   Marital Status                 2741 non-null   object
 5   State_of_Origin                2741 non-null   object
 6   Customer_Worth                 2741 non-null   float64
 7   Customer_Reply                 2741 non-null   object
 8   Plan                           2741 non-null   object
 9   Certification                  2741 non-null   object
 10  Effective To Date              2741 non-null   object
 11  Status_of_Employment           2741 non-null   object
 12  Premium_Auto_per_Month         2741 non-null   int64
 13  Total Claim Amount             2741 non-null   float64
 14  Vehicle Class                  2741 non-null   object
 15  Vehicle Size                   2741 non-null   object
 16  Months Since Last Claim        2741 non-null   int64
 17  Months Since Policy Inception  2741 non-null   int64
 18  Counts_of_Open_Complaints      2741 non-null   int64
 19  No_Of_POlicy                   2741 non-null   int64
 20  kind_of_policy                 2741 non-null   object
 21  Active_Policy                  2741 non-null   object
 22  Sales Channel                  2741 non-null   object
dtypes: float64(2), int64(6), object(15)
memory usage: 492.6+ KB

In [24]:
df.describe()

,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy
count,"2,741.00","2,741.00","2,741.00","2,741.00","2,741.00","2,741.00","2,741.00","2,741.00"
mean,"74,975.78","8,074.57",185.76,431.91,15.09,48.24,0.77,2.92
std,"61,488.35","7,215.14",68.16,285.77,9.98,28.03,1.76,2.37
min,0.00,"1,900.68",122.00,0.38,0.00,0.00,0.00,1.00
25%,0.00,"3,863.49",138.00,268.47,6.00,24.00,0.00,1.00
50%,"67,492.00","5,716.23",166.00,386.03,14.00,48.00,0.00,2.00
75%,"124,582.00","8,925.15",218.00,550.83,23.00,72.00,0.00,4.00
max,"199,920.00","73,227.96",596.00,"2,759.79",35.00,99.00,10.00,9.00

In [25]:
print('Original features:\n',(df.columns).to_list() )

Original features:
 ['Customer_ID', 'Sex', 'Earnings', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Worth', 'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 'Status_of_Employment', 'Premium_Auto_per_Month', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size', 'Months Since Last Claim', 'Months Since Policy Inception', 'Counts_of_Open_Complaints', 'No_Of_POlicy', 'kind_of_policy', 'Active_Policy', 'Sales Channel']

In [26]:
df_dummies1=pd.get_dummies(df, prefix=['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin','Customer_Reply',
'Plan', 'Certification', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy','Sales Channel' ],
columns=['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin','Customer_Reply', 'Plan',
'Certification', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy', 'Sales Channel'])

df_dummies1.head()

,Customer_ID,Earnings,Customer_Worth,Effective To Date,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Active_Policy,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,State_of_Origin_Imo,State_of_Origin_Kano,State_of_Origin_Lagos,Customer_Reply_Interested,Customer_Reply_Not_interested,Plan_Bronze,Plan_Gold,Plan_Silver,Certification_First_Degree,Certification_HND,Certification_O_Level,Certification_PHD,Certification_Second_Degree,Status_of_Employment_Disabled,Status_of_Employment_Fully_Employed,Status_of_Employment_In_Retirement,Status_of_Employment_Not_employed,Status_of_Employment_On_Leave,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small,kind_of_policy_Corporate,kind_of_policy_Personal,kind_of_policy_Special,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,Customer_708,149170,"4,224.63",1/17/11,212,218.60,1,49,0,1,P_L3,0,1,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
1,Customer_47,46436,"5,516.34",2/1/2011,142,447.79,7,10,0,4,P_L2,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0
2,Customer_3995,189806,"3,810.12",1/28/11,188,451.20,3,38,0,1,P_L3,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
3,Customer_1513,154306,"7,916.82",9/2/2011,198,355.64,3,27,2,5,P_L3,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
4,Customer_3686,47538,"7,933.72",2/20/11,138,470.10,18,14,0,2,P_L2,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0

In [27]:
del df_dummies1['Active_Policy']

In [28]:
df_dummies = df_dummies1.drop(['Customer_ID'], axis=1 )

In [29]:
df_dummies = df_dummies.drop(['Effective To Date'], axis=1 )

In [30]:
df_dummies.head()

,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,State_of_Origin_Imo,State_of_Origin_Kano,State_of_Origin_Lagos,Customer_Reply_Interested,Customer_Reply_Not_interested,Plan_Bronze,Plan_Gold,Plan_Silver,Certification_First_Degree,Certification_HND,Certification_O_Level,Certification_PHD,Certification_Second_Degree,Status_of_Employment_Disabled,Status_of_Employment_Fully_Employed,Status_of_Employment_In_Retirement,Status_of_Employment_Not_employed,Status_of_Employment_On_Leave,Vehicle Class_Four-Door Car,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Large,Vehicle Size_Medsize,Vehicle Size_Small,kind_of_policy_Corporate,kind_of_policy_Personal,kind_of_policy_Special,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,149170,"4,224.63",212,218.60,1,49,0,1,0,1,1,0,0,0,1,0,0,0,0,0,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0
1,46436,"5,516.34",142,447.79,7,10,0,4,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0
2,189806,"3,810.12",188,451.20,3,38,0,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0
3,154306,"7,916.82",198,355.64,3,27,2,5,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
4,47538,"7,933.72",138,470.10,18,14,0,2,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0

In [31]:
df_dummies.shape

(2741, 52)

In [32]:
df_dummies.isna().values.any()

False

In [33]:
predicted_offer=gbr.predict(df_dummies)
print(predicted_offer)

[1.45096529 1.14103307 0.98789871 ... 1.0577527  1.19915376 0.82985071]

In [34]:
my_submission=pd.DataFrame({'Customer_ID':df.Customer_ID,'Best_Offer': predicted_offer})
my_submission.to_csv('ToludoyinEntry.csv', index=False)